<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META INFO -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79547588-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79547588-16');
</script> -->
    
    <!-- PAGE TITLE -->
    <title>Western Dairies | Quality Dairy Products</title>

    <!-- META KEYWORDS AND DESCRIPTION -->
    <meta name="keywords" content="dairies, milk, nigeria" />
    <meta name="description" content="Western Dairies, quality dairy products">
    <meta name="author" content="HubIT">

    <!-- META VIEW PORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- FAVICONS -->
    <!-- <link rel="icon" href="images/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://dext.c-kav.com/preview-demos/images/favicons/apple-touch-icon-114x114.png"> -->

    <!-- WEB FONT-FAMILY -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <!-- VENDOR FONT ICONS CSS -->
    <link rel="stylesheet" href="fonticons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="fonticons/et-line/et-line-font.css">
    <link rel="stylesheet" href="fonticons/material-webfont/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="fonticons/pixeden/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="fonticons/simplelineicons/css/simple-line-icons.css">

    <!-- COMMON VENDOR CSS -->
    <link rel="stylesheet" href="vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/sweetalert/sweetalert2.min.css">
    <link rel="stylesheet" href="vendor/jarallax/jarallax.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">
    
    <!-- PAGE SPECIFIC VENDOR CSS -->

    <!-- TEMPLATE COMMON CSS -->
    <link rel="stylesheet" href="minify/ckav_min.css">

    <!-- DEMO SPECIFIC TEMPLATE CSS -->

    <!-- TEMPLATE USER CUSTOM CSS -->
    <link rel="stylesheet" href="css/template-custom.css">
</head>
<body class="ckav-body tooltip-light">

    <!--
    ************************************************************
    * PAGE LOADER
    *************************************************************
    -->
    <div id="loader">
        <div class="load-three-bounce">
            <div class="load-child bounce1"></div>
            <div class="load-child bounce2"></div>
            <div class="load-child bounce3"></div>
        </div>
    </div>
    <!-- ************** END : PAGE LOADER **************  -->


    <div class="ckav-body">

        <!--
        ************************************************************
        * COMMON IN ALL
        *************************************************************
        -->
        <div class="common-section">

            <!--=================================
            = HEADER
            ==================================-->
            <header class="header-section">
                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- LOGO -->
                        <div class="col-2">
                            <a href="index.html" class="logo-link">
                                <img class="logo-image margin-t-30 margin-l-30" src="images/logo.png" alt="ckav" data-ckav-smd="margin-tb-10 margin-l-20">
                            </a>
                        </div>

                        <!-- NAVIGATION -->
                        <div class="col flex-cr display-none" data-ckav-smd="display-flex">
                            <div class="menu-icon-wrp margin-r-30" data-ckav-smd="margin-r-20 margin-t-10">
                                <div class="menu-icon">
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- ======= END : HEADER =======  -->

            <!--=================================
            = NAVIGATION
            ==================================-->
            <div class="navigation-section flex-cc">
                <div class="inner-wrapper">
                    <ul class="navigation-ul">
                        
                        <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#about">
                                <span class="text-line-wrp">
                                    <span class="text">About</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-note2"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#services">
                                <span class="text-line-wrp">
                                    <span class="text">Offerings</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-config"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#gallery">
                                <span class="text-line-wrp">
                                    <span class="text">Products</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-keypad"></i></span>
                            </a>
                        </li>

                        <!-- <li class="navigation-li">
                            <a href="index-01.html#" class="navigation-a section-to" data-page-section="#team">
                                <span class="text-line-wrp">
                                    <span class="text">Team</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-users"></i></span>
                            </a>
                        </li> -->

                        <!-- <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#testimonials">
                                <span class="text-line-wrp">
                                    <span class="text">Testimonials</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-chat"></i></span>
                            </a>
                        </li> -->

                        <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#contact">
                                <span class="text-line-wrp">
                                    <span class="text">Contact</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-mail-open-file"></i></span>
                            </a>
                        </li>

                        <li class="navigation-li">
                            <a href="#" class="navigation-a section-to" data-page-section="#clients">
                                <span class="text-line-wrp">
                                    <span class="text">Clients</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-global"></i></span>
                            </a>
                        </li>

                        <!-- <li class="navigation-li">
                            <a href="index-01.html#" class="navigation-a section-to" data-page-section="#subscribe">
                                <span class="text-line-wrp">
                                    <span class="text">Subscribe</span>
                                    <span class="line"></span>
                                </span>
                                <span class="icon iconwrp square-40"><i class="pe-7s-bell"></i></span>
                            </a>
                        </li> -->

                    </ul>
                </div>
            </div>
            <!-- ======= END : NAVIGATION =======  -->

            <!--=================================
            = SOCIAL LINKS
            ==================================-->
            <div class="social-section">
                <div class="inner-wrapper">
                    <a href="index-01.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-facebook-f"></i></a>
                    <a href="index-01.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-twitter"></i></a>
                    <a href="index-01.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-linkedin-in"></i></a>
                    <a href="index-01.html#" class="button button-icon margin-r-10 color-button-white border-glass"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
            <!-- ======= END : SOCIAL LINKS =======  -->

        </div>
        <!-- ************** END : COMMON IN ALL **************  -->

        <!--
        ************************************************************
        * INTRO SECTION [ MAIN SECTION ]
        *************************************************************
        -->        
        <div class="main-section intro-section flex-cc typo-light" data-ckav-smd="position-rel">

            <div class="container">
                <div class="intro-text width-40" data-ckav-smd="width-100 align-center">
                    <h2 class="heading large bold-600 margin-b-25 align-center" data-ckav-smd="large">Inclusive Dairy <br data-ckav-smd="display-none">Enterprise</h2>
                    <p class="heading-sub mini bold-300" data-ckav-smd="mini margin-b-0">We make this a commercially viable  model to benefit diary small holders and communities.</p>
                    <!-- <a href="#" class="button color-button-white button-large margin-t-40 solid">More Info</a> -->
                </div>
            </div>
            
            <!--=================================
            = BACKGROUND HOLDER
            ==================================-->
            <div class="bg-holder zindex-0 position-fixed" data-ckav-smd="position-rel">
                
                <!-- OVERLAY -->
                <b data-bgholder="overlay" class="full-wh zindex-2"></b>
                
                <!-- BACKGROUND IMAGE -->
                <b data-bgholder="background-image" class="full-wh bg-cover bg-cc zindex-1" data-bg-image="images/bg-01.jpg"></b>
                
            </div>
            <!-- ======= END : BACKGROUND HOLDER =======  -->

        </div>
        <!-- ************** END : INTRO SECTION [ MAIN SECTION ] **************  -->

        
        <!--
        ************************************************************
        * PAGE SECTION
        *************************************************************
        -->
        <div class="page-section-wrp">

            <!--=================================
            = ABOUT SECTION
            ==================================-->
            <div id="about" class="page-section about-section flex-cc" data-theme="theme-light">

                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- IMAGE -->
                        <div class="col-lg-4 order-last order-lg-first">
                            <div class="image-wrapper height-min-vh-100 position-rel" data-ckav-smd="height-min-vh-50">
                                <div class="bg-holder zindex-0">
                                    
                                    <!-- BACKGROUND IMAGE -->
                                    <b data-bgholder="background-image" class="full-wh bg-cover bg-cc zindex-1" data-bg-image="images/half-bg-01.jpg"></b>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class="col-lg-7 offset-lg-1">
                            
                            <div class="section-heading width-70 padding-tb-small" data-ckav-smd="width-100 padding-lr-30 align-center padding-tb-small">
                                <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">About Us</h2>
                                <!-- <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt aliquid illo quos dignissimos culpa consectetur adipisicing elit</p> -->

                                <p>
                                    At Western Dairies, we organize small holding cattle and goat dairy farmers into cooperatives and aggregate their milks for production of fresh milk, cheese and butter.
                                </p>
                                <p>
                                    Our Research, Development and Extension Hub manages several dairy science projects which are integrated with dairy extension and communication.
                                </p>
                                <p>
                                    We invest in unique locally-based research activities including pasture seed performance, smarter irrigation and dairy effluent management, help increase farmer knowledge and improve business productivity and profitability.
                                </p>
                                <p>
                                    Western Dairy values relationships with small holding dairy farmers as an enterprise-driven approach to livelihood enhancement as well as an instrument of rural poverty reduction.  We believe that smallholder dairying can bring significant social as well as environmental benefits for the people.
                                </p>

                                <!-- <a href="index-01.html#" class="button color-button-dark button-medium margin-t-40 solid">Contact Now</a> -->
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : ABOUT SECTION =======  -->

            <!--=================================
            = SERVICES SECTION
            ==================================-->
            <div id="services" class="page-section services-section flex-cc" data-theme="theme-light">

                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- IMAGE -->
                        <div class="col-lg-2 order-last order-lg-first">
                            <div class="image-wrapper height-min-vh-100 position-rel" data-ckav-smd="height-min-vh-50">
                                <div class="bg-holder zindex-0">
                                    
                                    <!-- BACKGROUND IMAGE -->
                                    <b data-bgholder="background-image" class="full-wh bg-cover bg-cc zindex-1" data-bg-image="images/half-bg-01.jpg"></b>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class="col-lg-8 offset-lg-1">
                            
                            <div class="section-heading width-70 padding-tb-small" data-ckav-smd="width-100 padding-lr-30 align-center padding-tb-small">
                                <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Our Products</h2>
                                <!-- <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt aliquid illo quos dignissimos culpa consectetur adipisicing elit</p> -->
                                <ul>
                                    <li>
                                        <h3>Milk</h3>
                                        <p>Our milk, My Family Milk is produced in our processin plant in Osogbo.</p>
                                        <p>We have three different types of My Family Milk</p>
                                        <ol>
                                            <li>Whole Milk</li>
                                            <li>Skim Milk</li>
                                            <li>Low Fat Milk</li>
                                        </ol>
                                        <p>Western Dairies's My Familk Milk is also bottled in pints in three different flavours:</p>
                                        <ol>
                                            <p><li>Whole Milk</li></p>
                                            <p><li>Strawberry Milk</li></p>
                                            <p><li>Chocolate Milk</li></p>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3>Cheese</h3>
                                        <p>Wester Dairies produces one of the finest cheeses in Nigeria. Our line of cheeses are Mozzarella, Cheddar, Mozarella Pizza, Cheese Quesco, Fresco and many more.</p>
                                    </li>
                                    <li>
                                        <h3>Youghurt</h3>
                                        <p>Western Dairies produces 100% youghurt from local sources.</p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : ABOUT SECTION =======  -->

           

            <!--=================================
            = GALLERY SECTION
            ==================================-->
            <div id="gallery" class="page-section gallery-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="inner-wrapper width-70 margin-auto" data-ckav-smd="width-100 align-center padding-tb-small">        

                        <div class="section-heading display-none" data-ckav-smd="display-block padding-lr-30 margin-b-40">
                            <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Product Portfolio</h2>
                            <!-- <p class="heading-section-sub mini bold-300 margin-b-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores delectus quas deserunt</p> -->
                        </div>

                        <div class="portfolio-widget grid-portfolio portfolio-row grid-03" data-zoom-gallery="yes" data-ckav-md="grid-02" data-ckav-sm="grid-01">
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/milk.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Milk</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/milk.jpg" alt="my-family-milk">
    
                                </figure>
                            </div>

                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/youghurt.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Yoghurt</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/youghurt.jpg" alt="my-family-youghurt">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/cheese.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Cheese</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/cheese.jpg" alt="my-family-cheese">
    
                                </figure>
                            </div>

                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/cheese.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Cheese</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/cheese.jpg" alt="my-family-cheese">
    
                                </figure>
                            </div>

                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/milk.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Milk</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/milk.jpg" alt="my-family-milk">
    
                                </figure>
                            </div>
    
                            <div class="portfolio-col">
                                <figure class="hover-box hover-box-01">
                                    
                                    <!-- OVERLAY -->
                                    <div class="overlay flex-bl typo-light" data-linear-gradient="rgba(31,34,41,0.5)|rgba(31,34,41,1)">
                                        <div class="info-text text-center">
                                            <a href="images/youghurt.jpg" class="button button-icon color-button-default solid"><i class="pe-7s-expand1"></i></a>
                                            <a href="#" target="_blank" class="button button-icon color-button-default solid"><i class="pe-7s-link"></i></a>
                                            <h3 class="heading-content mini bold-n margin-b-5 margin-t-20">My Family Yoghurt</h3>
                                            <p class="mr-0 fs12 op-08"><!--Lorem ipsum dolor sit amet consectetur--></p>
                                        </div>
                                    </div>
    
                                    <!-- IMAGE -->
                                    <img src="images/youghurt.jpg" alt="my-family-youghurt">
    
                                </figure>
                            </div>
    
                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : GALLERY SECTION =======  -->

            <!--=================================
            = TESTIMONIALS SECTION
            ==================================-->
            
            <!-- ======= END : TESTIMONIALS SECTION =======  -->

            <!--=================================
            = CLIENTS SECTION
            ==================================-->
            <div id="clients" class="page-section clients-section" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-white fs-40 solid zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <!-- BACKGROUND IMAGE -->
                <div class="position-rel zindex-0 height-px-500">
                    
                    <!-- OVERLAY -->
                    <b data-bgholder="overlay" class="full-wh zindex-2" data-lgradient="y" data-linear-gradient="rgba(0,0,0, 0)|rgba(0,0,0, 0.6)"></b>
                    
                    <!-- BACKGROUND IMAGE -->
                    <b data-bgholder="background-image" class="full-wh bg-cover bg-tc zindex-1" data-bg-image="images/bg-02.jpg"></b>

                    <!-- SHAP -->
                    <div class="zindex-2 ckav-shap">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" style="fill: #fff;">
                            <path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
                            <path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
                            <path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
                        </svg>
                    </div>

                </div>

                <div class="container-fluid padding-0 margin-t-60">
                    <div class="inner-wrapper width-70 margin-auto padding-tb-small padding-t-0" data-ckav-smd="width-100 padding-lr-30 padding-b-small">        
                        <div class="section-heading align-center width-70 margin-auto margin-b-60" data-ckav-smd="width-100">
                            <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Our Partners</h2>
                        </div>

                        <div class="rw gt10 col-mb10 eq4 clients-grid clients-grid-01 opacity-06" data-ckav-sm="flex-cc eq2" data-ckav-md="flex-cc eq2">
                            <div class="cl client-box animated fadeInUp full-visible" data-animate="fadeInUp|0.1" style="animation-delay: 0.1s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/cooperative.png" alt="brand">
                                </a>
                            </div>
                            <div class="cl client-box animated fadeInUp full-visible" data-animate="fadeInUp|0.2" style="animation-delay: 0.2s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/dairy-farmers.png" alt="brand">
                                </a>
                            </div>
                            <div class="cl client-box animated fadeInUp full-visible" data-animate="fadeInUp|0.3" style="animation-delay: 0.3s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/nigeria-new.png" alt="brand">
                                </a>
                            </div>
                            <div class="cl client-box animated fadeInUp full-visible" data-animate="fadeInUp|0.4" style="animation-delay: 0.4s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/restaurant-food.jpg" alt="brand">
                                </a>
                            </div>
                            <div class="cl client-box animated fadeInUp" data-animate="fadeInUp|0.5" style="animation-delay: 0.5s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/shop.jpg" alt="brand">
                                </a>
                            </div>
                            <div class="cl client-box animated fadeInUp" data-animate="fadeInUp|0.5" style="animation-delay: 0.5s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/oem.jpg" alt="brand">
                                </a>
                            </div>
                            <!-- <div class="cl client-box animated fadeInUp" data-animate="fadeInUp|0.5" style="animation-delay: 0.5s;">
                                <a href="index-01.html#" class="client-link">
                                    <img src="images/brand-logo7.png" alt="brand">
                                </a>
                            </div> -->
                        </div>

                    </div>
                </div>

            </div>
            <!-- ======= END : CLIENTS SECTION =======  -->

            <!--=================================
            = CONTACT SECTION
            ==================================-->
            <div id="contact" class="page-section contact-section flex-cc" data-theme="theme-light">
                
                <!-- CLOSE BUTTON -->
                <button class="close-section button button-icon color-button-dark fs-40 border-glass zindex-9">
                    <i class="pe-7s-close"></i>
                </button>

                <div class="container-fluid padding-0">
                    <div class="row align-items-center">

                        <!-- IMAGE -->
                        <div class="col-lg-5">
                            <div class="map-wrapper height-min-vh-100 position-rel" data-ckav-smd="height-min-vh-50">
                                <iframe class="full-wh width-100 height-100 border-none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.083509046345!2d4.542433114462259!3d7.7809703094267695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103787ade36d63a5%3A0x7532162afe60a566!2sTead%20Innovations!5e0!3m2!1sen!2sng!4v1621296264212!5m2!1sen!2sng" allowfullscreen></iframe>
                            </div>
                        </div>

                        <!-- TEXT -->
                        <div class="col-lg-6 offset-lg-1">
                            <div class="width-70 padding-tb-small" data-ckav-smd="width-100 padding-lr-30 padding-tb-small">

                                <div class="section-heading margin-b-60" data-ckav-smd="align-center">
                                    <h2 class="heading-section large bold-600 margin-b-25" data-ckav-smd="normal">Contact Us</h2>
                                </div>

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Email</h3>
                                        <p class="margin-b-0">info@westerndairies.com.ng</p>
                                    </div>
                                </div>

                                <hr class="margin-tb-20">

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-headphones"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Phone</h3>
                                        <p class="margin-b-0">+23480-332-52966</p>
                                    </div>
                                </div>

                                <hr class="margin-tb-20">

                                <div class="info-obj margin-b-0 info-box-01 img-l gap-20 tiny animated fadeInUp" data-ckav-smd="margin-b-30">
                                    <div class="img"><span class="iconwrp"><i class="pe-7s-map-2"></i></span></div>
                                    <div class="info">
                                        <h3 class="heading-content tiny margin-b-5">Address</h3>
                                        <p class="margin-b-0">44, Isiaka Adeleke Freeway, Alekunwodo, Osogbo Osun State, Nigeria</p>
                                    </div>
                                </div>

                                <form id="contact-form" class="form-widget form-control-op-02 margin-t-60">
                                    <div class="field-wrp">
                                        <!-- <input type="hidden" name="to" value="c.kav.art@gmail.com"> -->
            
                                        <div class="row gt10">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-6" id="name" data-label="Name" required="" data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control radius-6" id="email" data-label="Email" required="" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input class="form-control radius-6" required="" id="subject" data-label="Subject" data-msg="Please enter message subject." type="text" name="subject" placeholder="Enter message subject">
                                        </div>
            
                                        <div class="form-group">
                                            <textarea class="form-control radius-6" id="message" data-label="Message" required="" data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="button solid color-button-dark width-100 margin-0"><i class="fa fa-envelope-o"></i> SUBMIT</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ======= END : CONTACT SECTION =======  -->

        </div>
        <!-- ************** END : PAGE SECTION **************  -->

    </div>
    

<!-- COMMON VENDOR SCRIPTS -->
<script src="vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="vendor/jquery/jquery-migrate-3.0.0.min.js"></script>
<script src="vendor/popper/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="vendor/sweetalert/sweetalert2.min.js"></script>
<script src="vendor/jarallax/jarallax.min.js"></script>
<script src="vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="vendor/swiper/js/swiper.min.js"></script>
<script src="vendor/jQuery-viewport-checker/jquery.viewportchecker.min.js"></script>
<script src="vendor/enquire/enquire.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<script src="vendor/isotope/packery-mode.pkgd.min.js"></script>

<!-- PAGE SPECIFIC VENDOR SCRIPTS -->

<!-- TEMPLATE COMMON SCRIPTS -->
<script src="minify/ckav_min.js"></script>

</body>
</html>